header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline-flex;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color:#c78c19;
    text-decoration: underline;
}

#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-centralizado:hover{
    color: #c78c19;

}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-size: 25px;
    padding: 12px;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.beneficios ul {
    
	display: inline-block;
    text-align: center;
	vertical-align: top;
	width: 30%;
	margin-right: 15%;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.beneficios li:hover{
    color: #c78c19;
    font-weight: bold;

}


.imagembeneficios {
	width: 50%;
    border-radius: 10px;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
}